.trending-courses {
  margin-bottom: 30px;
}

.trending-courses h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.trending-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.trending-card {
  border-radius: var(--border-radius);
  padding: 25px;
  color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.dark-card {
  /* background-color: var(--dark-surface); */
  background: linear-gradient(100deg, #1a1a1a 0%, #888888 100%);
}

.primary-card {
  /* background-color: var(--secondary-color); */
  background: linear-gradient(100deg, #f71e54 0%, #ff6699 100%);
}

.trending-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.trending-card p {
  margin-bottom: 20px;
  opacity: 0.8;
  flex-grow: 1;
}

.certification-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  opacity: 0.8;
}

.learn-more-btn,
.get-started-btn {
  align-self: flex-start;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  transition: var(--transition);
}

.learn-more-btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.learn-more-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.get-started-btn {
  background-color: black;
  color: white;
}

.get-started-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
