asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4.0"
autobahn==24.4.2 ; python_version >= "3.12" and python_version < "4.0"
automat==25.4.16 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
channels-redis==4.2.1 ; python_version >= "3.12" and python_version < "4.0"
channels==4.2.2 ; python_version >= "3.12" and python_version < "4.0"
constantly==23.10.4 ; python_version >= "3.12" and python_version < "4.0"
cryptography==45.0.4 ; python_version >= "3.12" and python_version < "4.0"
daphne==4.2.0 ; python_version >= "3.12" and python_version < "4.0"
django-cors-headers==4.7.0 ; python_version >= "3.12" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.12" and python_version < "4.0"
django-filter==25.1 ; python_version >= "3.12" and python_version < "4.0"
django==5.1.11 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.16.0 ; python_version >= "3.12" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
incremental==24.7.2 ; python_version >= "3.12" and python_version < "4.0"
msgpack==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.2.1 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
psycopg2==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyjwt==2.9.0 ; python_version >= "3.12" and python_version < "4.0"
pyopenssl==25.1.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
redis==6.2.0 ; python_version >= "3.12" and python_version < "4.0"
service-identity==24.2.0 ; python_version >= "3.12" and python_version < "4.0"
setuptools==80.9.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
twisted[tls]==25.5.0 ; python_version >= "3.12" and python_version < "4.0"
txaio==23.1.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.14.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
zope-interface==7.2 ; python_version >= "3.12" and python_version < "4.0"
